# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/run

/pufferfork-server/build.gradle.kts
/pufferfork-server/src/minecraft
/paper-server
/pufferfork-api/build.gradle.kts
/paper-api
/paper-api-generator

.idea/